.certificate-enter {
    width: 270px;
    max-width: 260px;
}

.certificate-discount {
    color: red;
}

.certificate-right-column {
    padding-left: 20px;
}

.certificate-right-column button {
    margin: 10px;
}

.scrolling-table {
    width: 100%;
    border-spacing: 0;
}

.scrolling-table thead, .scrolling-table tbody, .scrolling-table tr, .scrolling-table th, .scrolling-table td {
    display: block;
}

.scrolling-table thead tr {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: calc(100% - 16px);
}

.scrolling-table tr:after { /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrolling-table tbody {
    height: 300px;
    max-height: 302px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrolling-table tbody td, .scrolling-table thead th {
    width: 33%;
    float: left;
}