.certificate-enter {
    width: 270px;
}

.certificate-discount {
    color: red;
}

.certificate-right-column {
    padding-left: 20px;
}

.certificate-right-column button {
    margin: 10px;
}

/*.scrolling-table {*/
    /*position: absolute;*/
    /*height: 200px*/
    /*!*max-width: 100%;*!*/
    /*!*max-height: 100%;*!*/
/*}*/